* {
  padding: 0;
  margin:0;
  scroll-behavior: smooth;
}


.landingPage {
  position: relative;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.intro-text {
  position: absolute;

  top: 65%;
  left: 68%;
  transform: translate(-50%,-50%);
  
}

.intro-btn {
  margin-top: 20px;
  text-align: center;
}

.menu {
  height:100vh;
}






.order{
  height: 100vh;
  width: 100vw;
  background-image: url(https://images.unsplash.com/photo-1574126154517-d1e0d89ef734?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}


