@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:ital,wght@0,500;1,900&family=Source+Code+Pro:ital,wght@1,500&display=swap');




* {
  padding: 0;
  margin:0;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-size: 2.1rem;
  font-weight: 900;
  color: lightblue;
}

.landingPage {
  position: relative;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(0,0,0,.3),rgba(0,0,0,.8)),url( https://images.unsplash.com/photo-1506354666786-959d6d497f1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.intro-text {
  position: absolute;

  top: 65%;
  left: 68%;
  transform: translate(-50%,-50%);
  
}

.intro-btn {
  margin-top: 20px;
  text-align: center;
}








.order{
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(to bottom,rgba(85, 79, 79, 0.5),rgba(0,0,0.6)), url(https://images.unsplash.com/photo-1590234229790-b210b3dcd422?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  
}




.menu {
  background-image: linear-gradient(to bottom, rgba(0,0,0,.8),rgba(0,0,0,.3)),url(https://images.unsplash.com/photo-1544882907-b914cebddbf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

